/* === CSS DIRECTORY

    1. = GLOBAL
    2. = GRID
    3. = VIDEO
    4. = INFO
    5. = TICKETS
    6. = ROUTE
    7. = INSTAGRAM
    8. = FOOTER
    9. = MAP

  === */


/* === GLOBAL === */

body {
    background-color: black;
    color: white;

    font-family: sans-serif;
    line-height: 30px;
}

h1, h2, p {
    text-align: center;
}

h1 {
    font-size: 40px;
}

iframe {
    border: 0;
}

/* === GRID === */

.container {
    margin: auto;
}

.row, .column {
    box-sizing: border-box;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.column {
    position: relative;
    float: left;

    display: table-cell;
    vertical-align:middle;
    text-align:center;
}

.column + .column {
    margin-left: 1.6%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
    width: 32.2666666667%;
}

.column-12 {
    width: 100%;
}

/* === VIDEO === */

#video {
    margin-top: 50px;
}

#video .video {
    width: inherit;
}

/* === INFO === */

#info {
    margin-top: 150px;
    margin-bottom: 150px;
}

#info .logo {
    max-width: 250px;
}

#info a {
    color: orange;
    text-decoration: none;
    display: block;
}

/* === TICKETS === */

#tickets {
    margin-bottom: 100px;
}

#tickets a {
    background-color: orange;
    padding: 20px 50px 20px 50px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    border: solid 2px orange;
}

#tickets a:hover {
    color: orange;
    background-color: black;
}

#tickets p {
    margin-top: 25px;
    color: darkgray;
    font-size: 12px;
}

/* === ROUTE === */

#route {
    margin-bottom: 75px;
}

.container > #route:first-child {
    margin-top: 150px;
}

#route .logo {
    max-width: 250px;
}

#route a {
    color: orange;
    text-decoration: none;
}

/* === INSTAGRAM === */

#instagram {
    margin-bottom: 175px;
}

#instagram img {
    width: 100%;
    border-radius: 5px;
}

#instagram p {
    color: darkgray;
    font-size: 12px;
}

#instagram p a {
    color: orange;
    text-decoration: none;
}

/* === FOOTER === */

footer {

}

footer a {
    color: orange;
    text-decoration: none;
}

footer img {
    background-color: white;
    border-radius: 100%;
    width: 65px;
    border: solid 2px orange;
}

footer .twitter {
    width: 65px;
    height: 65px;
    background-color: white;
}

footer a:last-child img {
    margin-left: 30px;
}

footer a:first-child img {
    margin-right: 30px;
}

footer p {
    font-size: 14px;
}

footer p:first-of-type {
    margin-top: 50px;
}

footer p:last-of-type {
    margin-bottom: 50px;
    color: darkgray;
    font-size: 12px;
}

footer p:last-of-type a {
    color: darkgray;
}

footer .dash {
    margin-left: 10px;
    margin-right: 10px;
}

/* === MAP === */

#map {
    margin-bottom: 75px;
}

#map a {
    color: orange;
    text-decoration: none;
}

#map .map {
    border: 0;
    width: 75%;
    height: 25vh;
    min-height: 450px;
}

/* === MEDIA 1024px + === */

@media screen and (min-width: 1024px) {

    .container {
        min-width: 1024px;
        max-width: 1250px;
    }

    /* === VIDEO === */

    #video .video {
        height: 700px;
    }
}

/* === MEDIA 800px - 1023px === */

@media screen and (min-width: 800px) and (max-width: 1023px) {

    /* === GENERAL === */

    .container {
        min-width: 800px;
        max-width: 1023px;
    }

    .column-3 {
        width: 49.2%;
    }

    .column-3:nth-child(3) {
        margin-left: 0;
    }

    /* === VIDEO === */

    #video {
        margin-top: 0;
    }

    #video .video {
        height: 500px;
    }

    /* === INSTAGRAM === */

    #instagram .row {
        width: 65%;
        margin: auto;
    }

    /* === FOOTER === */

    footer img {
        width: 45px;
    }
}

/* === MEDIA 0px - 799px === */

@media screen and (max-width: 799px) {

    /* === GENERAL === */

    h1 {
        line-height: 60px;
    }

    h2 {
        line-height: 40px;
    }

    p, a {
        font-size: 12px;
    }

    .hidden-small {
        display: none;
    }

    .block-small {
        display: block;
    }

    /* === GRID === */

    .container {
        min-width: 320px;
        max-width: 799px;
    }

    .column-3 {
        width: 100%;
    }

    .column + .column {
        margin-left: 0;
    }

    /* === VIDEO === */

    #video {
        margin-top: 0;
    }

    #video .video {
        height: 400px;
    }

    /* === INFO === */

    #info {
        margin-top: 75px;
        margin-bottom: 75px;
    }

    /* === TICKETS === */

    #tickets {
        margin-bottom: 50px;
    }

    /* === ROUTE === */
    .container > #route:first-child {
        margin-top: 75px;
    }

    /* === INSTAGRAM === */

    #instagram {
        margin-bottom: 75px;
    }

    #instagram .row {
        width: 50%;
        margin: auto;
    }

    #instagram .column:not(:first-of-type) {
        display: none;
    }

    /* === FOOTER === */

    footer img {
        width: 34px;
    }

    /* === MAP === */
    #map .map {
        width: 100%;
    }
}