/* === CSS DIRECTORY

    1. = GLOBAL
    2. = GRID
    3. = MENU
    4. = VIDEO
    5. = INFO
    6. = TICKETS
    7. = ROUTE
    8. = INSTAGRAM
    9. = FOOTER
   10. = MAP

  === */

/* === GLOBAL === */

body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    line-height: 30px;
}

h1, h2, h4, p {
    text-align: center;
}

h1 {
    font-size: 38px;
}

iframe {
    border: 0;
}

/* === GRID === */

.container {
    margin: auto;
}

.row, .column {
    box-sizing: border-box;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.column {
    position: relative;
    float: left;
    display: table-cell;
    vertical-align:middle;
    text-align:center;
}

.column + .column {
    margin-left: 1.6%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
    width: 32.2666666667%;
}

.column-12 {
    width: 100%;
}

/* === MENU === */

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 50px;
}

nav input#menu[type=checkbox], nav label.menu {
    display: none;
}

nav label.menu {
    background: right 10px center no-repeat url("../img/menu_down.png");
    background-size: 15px;
}

nav input#menu[type=checkbox]:checked + label.menu {
    background-image: url("../img/menu_up.png");
}

nav input#menu[type=checkbox]:checked + label.menu:hover {
    background-image: url("../img/menu_up_hover.png");
}

nav label.menu:hover {
    background-image: url("../img/menu_down_hover.png");
}

nav ul li a, nav label.menu {
    border: solid 1px orange;
    float: left;
    background-color: orange;
    width: 15%;
    margin-right: 1%;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li:first-child {
    margin-left: 1.75%;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover, nav label.menu:hover {
    background-color: black;
    color: orange;
}

nav ul li:hover > a {
    color: orange;
}

/* === VIDEO === */

#video .video {
    width: inherit;
}

/* === INFO === */

#info {
    margin-top: 150px;
}

#info.laatste {
    margin-bottom: 75px;
}

#info .logo {
    max-width: 250px;
}

#info a {
    color: orange;
    text-decoration: none;
    display: block;
}

#info a:hover {
    text-decoration: underline;
}

/* === TICKETS === */

#tickets {
    padding-top: 150px;
    padding-bottom: 100px;
}

#tickets a {
    background-color: orange;
    padding: 20px 50px 20px 50px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    border: solid 2px orange;
}

#tickets a:hover {
    color: orange;
    background-color: black;
}

#tickets p, #tickets h4 {
    margin-top: 25px;
    color: darkgray;
    font-size: 12px;
    font-weight: normal;
}

/* === ROUTE === */

.container > #route:first-child {
    margin-top: 150px;
}

#route .logo {
    max-width: 250px;
}

#route a {
    color: orange;
    text-decoration: none;
}

#route a:hover {
    text-decoration: underline;
}

/* === INSTAGRAM === */

#instagram {
    padding-top: 75px;
    margin-bottom: 125px;
}

#instagram img {
    width: 100%;
    border-radius: 5px;
}

#instagram p, #instagram h4 {
    color: darkgray;
    font-size: 12px;
    font-weight: normal;
}

#instagram p a, #instagram h4 a {
    color: orange;
    text-decoration: none;
}

#instagram p a:hover, #instagram h4 a:hover {
    text-decoration: underline;
}

/* === FOOTER === */

footer a {
    color: orange;
    text-decoration: none;
}

footer .row:last-child a:hover {
    text-decoration: underline;
}

footer img {
    background-color: white;
    border-radius: 100%;
    width: 65px;
}

footer .twitter {
    width: 65px;
    height: 65px;
    background-color: white;
}

footer a:last-child img {
    margin-left: 30px;
}

footer a:first-child img {
    margin-right: 30px;
}

footer p {
    font-size: 14px;
}

footer p:first-of-type {
    margin-top: 50px;
}

footer p:last-of-type {
    margin-bottom: 50px;
    color: darkgray;
    font-size: 12px;
}

footer p:last-of-type a {
    color: darkgray;
}

footer .dash {
    margin-left: 10px;
    margin-right: 10px;
}

/* === MAP === */

#map {
    margin-bottom: 75px;
}

#map a {
    color: orange;
    text-decoration: none;
}

#map a:hover {
    text-decoration: underline;
}

#map .map {
    border: 0;
    width: 75%;
    height: 25vh;
    min-height: 450px;
}

/* === MEDIA 1024px + === */

@media screen and (min-width: 1024px) {

    /* === GENERAL === */

    .container {
        min-width: 1004px;
        max-width: 1250px;
    }

    /* === INFO === */

    #info {
        margin-left: 140px;
        margin-right: 140px;
    }

    /* === ROUTE === */
    #route {
        margin-left: 140px;
        margin-right: 140px;
    }

    /* === VIDEO === */

    #video .video {
        height: 700px;
    }
}

/* === MEDIA 800px - 1023px === */

@media screen and (min-width: 800px) and (max-width: 1023px) {

    /* === GENERAL === */

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    .container {
        min-width: 780px;
        max-width: 1023px;
    }

    .column-3 {
        width: 49.2%;
    }

    .column-3:nth-child(3) {
        margin-left: 0;
    }

    /* === INFO === */
    #info {
        margin-top: 50px;
        margin-left: 75px;
        margin-right: 75px;
    }

    /* === VIDEO === */

    #video {
        margin-top: 0;
    }

    #video .video {
        height: 500px;
        width: 90%;
    }

    /* === INSTAGRAM === */

    #instagram {
        padding-top: 50px;
    }

    #instagram .row {
        width: 65%;
        margin: auto;
    }

    /* === FOOTER === */

    footer img {
        width: 45px;
    }

    /* === ROUTE === */
    #route {
        margin-left: 75px;
        margin-right: 75px;
    }
}

/* === MEDIA 0px - 799px === */

@media screen and (max-width: 799px) {

    /* === GENERAL === */

    h1 {
        font-size: 25px;
        line-height: 40px;
    }

    h2 {
        font-size: 20px;
        line-height: 35px;
    }

    p, a {
        font-size: 12px;
    }

    .hidden-small {
        display: none;
    }

    .block-small {
        display: block;
    }

    /* === MENU === */

    nav label.menu {
        display: inline;
        text-transform: uppercase;
        font-size: 12px;
        margin-left: 10%;
        margin-top: 25px;
    }

    nav {
        margin-bottom: 35px;
    }

    nav ul {
        padding-left: 10%;
        margin-top: 0;
        margin-bottom: 0;
    }

    nav label.menu {
        width: 81%;
    }

    nav ul li a {
        width: 90%;
    }

    input#menu[type=checkbox]:checked ~ ul li
    {
        display: inline;
    }

    nav ul li {
        display: none;
    }

    nav ul li:first-child {
        margin-left: 0;
    }

    /* === GRID === */

    .container {
        min-width: 300px;
        max-width: 799px;
    }

    .column-3 {
        width: 100%;
    }

    .column + .column {
        margin-left: 0;
    }

    /* === VIDEO === */

    #video {
        margin-top: 0;
    }

    #video .video {
        height: 400px;
        width: 90%;
    }

    /* === INFO === */

    #info {
        margin-top: 75px;
    }

    /* === TICKETS === */

    #tickets {
        padding-top: 75px;
        padding-bottom: 50px;
    }

    /* === ROUTE === */
    .container > #route:first-child {
        margin-top: 75px;
    }

    /* === INSTAGRAM === */

    #instagram {
        margin-bottom: 50px;
    }

    #instagram .row {
        width: 50%;
        margin: auto;
    }

    #instagram .column:not(:first-of-type) {
        display: none;
    }

    /* === FOOTER === */

    footer img {
        width: 34px;
    }

    footer p, footer p a {
        font-size: 10px !important;
    }

    /* === MAP === */
    #map .map {
        width: 100%;
    }
}