/* background-color, font-family, font-size, font-weight, text-decoration, line-height, :hover, en voorzie de pagina van een achtergrondafbeelding.*/

body {
    background-image: url("../image/background.jpg");
    background-repeat: repeat;
    font-family: sans-serif;
}

h1 {
    font-size: 3em;
    font-weight: bolder;
}

h2 {
    font-size: 1em;
}

p {
    line-height: 2em;
}

ul
{
    padding-top: 20px;
    list-style-type: none;

    padding-bottom: 50px;
}

li {
    padding: 25px;
    background-color: red;
    width: 200px;
    margin-bottom: 20px;
    display: inline;
    border-right: solid thin white;
}

li:hover {
    background-color: green;
}

a {
    color: white;
    text-decoration: none;
}

.active {
    background-color: aquamarine;
}


section {
    background-color: azure;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 48%;
    min-height: 500px;
    float: left;
}

@media all and (max-width: 600px) {
   section {
       width: 100%;
       float: none;
   }
}